@media screen and (max-width: 900px) {
    p {
        position: relative;
        text-align: center;
        color: white;
        z-index: 1;
    }
    button {
        position: absolute;
        left: 50%;
        z-index: 1;
    }
    body {
        background-color: #00BFFF;
    }
    #videoElement {
        position: absolute;
    }
    .camera {
        position: absolute;
    }
}