@media screen and (max-width: 900px) {
    p {
        position: relative;
        text-align: center;
        color: white;
        z-index: 10;
    }
    button {
        position: relative;
        left: 50%;
        z-index: 10;
    }
    body {
        position: absolute;
        background-color: #00BFFF;
    }
    #videoElement {
        position: absolute;
    }
    .camera {
        position: absolute;
        top: 0px;
    }
}