video {
    position:absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}
h1 {
    color: white;
}
form {
    color: white;
}

@media screen and (max-width: 900px) and (orientation: portrait) {
    video {
        position:absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
    }
    h1 {
        color: white;
    }
    form {
        color: white;
    }
}
@media screen and (max-width: 900px) and (orientation: landscape) {
    video {
        position:absolute;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        z-index: -2;
    }
    h1 {
        color: white;
    }
    form {
        color: white;
    }
}
