@media screen and (min-width: 900px) {
    #videoElement {
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        object-fit: fill;
        z-index: -1;
    }
    p {
        position: relative;
        text-align: center;
        color: white;
        z-index: 2;
    }
    button {
        position: relative;
        left: 50%;
        z-index: 2;
    }
    input {
        position: relative;
        z-index: 2;
    }
    body {
        background-color: #00BFFF;
    }
    form {
        position: relative;
        z-index: 2;
    }
    a-scene {
        position: absolute;
        z-index: 1;
    }
}
